{% extends 'layout/layout.html' %} {% block title %} Home {% endblock %} {% include
'layout/header.html' %} {% block content%}
  <div class="index-style row">
    <div style="width: 100vw; display: flex; justify-content: center;">
      <div class="carousel-caption d-none d-md-block">
      <h5 style="font-size: 50px; position:absolute; left:-20; top:-350;">Sistema Nostradamus</h5>
      <p style="position:absolute; left:-20; top:-280; text-align: start; width: 600px;">O Sistema Nostradamus permite uma correlação de termos em diferentes artigos em bases de dados científicas como o ScienceDirect e SpringerLink. Lorem ipsum dolor sit amet...</p>
      <a href="search" style="display: block;"><button class="btn btn-outline-warning" style="position:absolute; left:-20; bottom: 150;">Clique e Acesse</button></a>
      </div>
    </div>
  </div>
{% endblock %}